<!-- A template is a file where you describe how the result should be represented.
Templates are often .html files, with HTML code describing the layout of a web page, but it can also be in other file formats to present other results, but we will concentrate on .html files. -->
<!-- Django uses standard HTML to describe the layout, but uses Django tags to add logic: -->

<!-- This was for the static media files -->
<!-- <!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test of static Media</title>
    <link rel="stylesheet" href="{% static 'css/static.css'%}">
</head>
<body>
    <h1>Test of static Media</h1>
    {{ temp_tag_one }}

    <h2>this image is loaded from the static/images file </h2>
    <img src="{% static 'images/lizard.jpg' %}" alt="Image not found" width="400px" height="250px">
</body>
</html> -->

<!-- this is for the models section -->
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django MVT Paradigm</title>
    <link rel="stylesheet" href="{% static 'css/static.css'%}">
</head>

<body>
    <!-- use template taging to grab information from view -->
    <h1>Here are your Access Records</h1>
    <div class="djangtwo">
        <!-- similar to python if statement, if access_recors exist display this -->
        {% if access_records %}
        <table>
            <thead>
                <th>Site Name</th>
                <th>Date Accessed</th>
            </thead>

            <!--you need to loop through every row in the access records  -->

            {% for acc in access_records %}
            <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
            </tr>
            <!-- you need to end that for tag -->
            {% endfor %}
        </table>
        {% else %}
        <p>No Access Records Found</p>

        {% endif %}

    </div>
</body>

</html>