<!-- Template inheritance allows us to creat a base template we can inherit from, practice DRY if we wanted a navbar at the
top of our page, it wouldn't make sense to continually have the same navbar HTML code in each individual html file
instead we set it to the base.html file and inherit it using template inheritance. This idea is sometimes also known
as template extending, as in extending the base.html to other .html files. The inheritance doesn't need to just be 
limited to one base.html file, you can extend multiple templates -->