<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>

</head>

<body>

    <!-- What Happens on Submit?
    Did you notice the action attribute in the HTML form? 
    The action attribute specifies where to send the form data, 
    in this case the form data will be sent to:
    updaterecord/{{ mymember.id }}, so we must add a path() 
    function in the members/urls.py file that points to the right view: -->
    <form action="updaterecord/{{ mymember.id }}" method="post">

        {% csrf_token %}
        <input name="first" placeholder="First Name">
        <input name="last" placeholder="Last Name">
        <input type="submit" value="Submit">
        <a href="/">Return Home</a>

    </form>

</body>

</html>