<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter9</title>
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

    <div class="container">
    
        <div class="navweb">
            <h1>Website</h1>
            <ul>
            <a href="{% url 'index' %}">Login</a>
            <a href="{% url 'AAA_app:signup' %}">Sign Up</a>
            <a href="{% url 'admin:index' %}">Admin</a>
            </ul>
        </div>

        <div class="body-class">
            {% block body %}
            {% endblock %}
        </div>

    </div>

</body>

</html>