<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <h1>Sign up</h1>
    <h4><a href=" {% url 'index' %} ">Back to Login</a></h4>
    <form method="POST">   
    {% csrf_token %}
    {{form.as_p}}
    <!-- {{form.firstname}}
    {{form.lastname}}
    {{form.email}}
    {{form.password}} -->
    <input type="submit" value="Submit">

     <!-- <input type="text" placeholder="First Name" required>
        <input type="text" placeholder="Last Name" required>
        <input type="email" placeholder="Email" required>
        <h3>Passwords must exceed 15 characters</h3>
        <input type="password" placeholder="Password" required>
        <input type="password" placeholder="Verify Password" required>
        <button type="submit" value="Submit">Submit</button> -->

    </form>
</body>
</html>